@model foiEPP.Viewmodels.UserViewModel
@{
    var title = ViewBag.Title;
    var image = ViewBag.Image;
    var roomID = ViewBag.RoomID;
    var classID = ViewBag.ClassID;
    var time = ViewBag.Time;
}
<h2>@title</h2>

<br/>
<div class="row">
    <div class="col-md-4 border__right">
        <img class="uploadedImage" src="@Url.Content("~/images/uploaded/" + @image)" alt="Class image">
    </div>
    <div class="col-md-8">
        <table class="table table-sm table-striped table-hover border-bottom">
            <thead>
                <tr>
                    <th class="d-none d-lg-table-cell">
                        Slika
                    </th>
                    <th>
                        Ime
                    </th>
                    <th>
                        Prezime
                    </th>
                </tr>
            </thead>
            <tbody>
                @if ((ViewBag.People as List<StudentWithImageViewModel>).Count() > 0)
                {
                    foreach (var student in ViewBag.People)
                    {
                        <tr>
                            <td class="d-none d-lg-table-cell">
                                <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(@student.Image))" style="height:50px;" />
                            </td>
                            <td>
                                @student.Student.FirstName
                            </td>
                            <td>
                                @student.Student.LastName
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" class="text-center">
                            Nije prepoznat nijedan student
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        @using (Html.BeginForm("AddStudents", "Home", FormMethod.Post))
        {
            <table class="table table-sm table-striped table-hover border-bottom">
                <thead>
                    <tr>
                        <th class="d-none d-lg-table-cell">
                            Dodaj
                        </th>
                        <th>
                            Ime
                        </th>
                        <th>
                            Prezime
                        </th>
                    </tr>
                </thead>
                <tbody id="addHere">
                    <tr>
                        <td class="d-none d-lg-table-cell">
                            <button type="button" class="addNew btn btn-light">Dodaj zapis</button>
                        </td>
                        <td>
                            <input name="Students[0].FirstName" type="text" class="name form-control" />
                        </td>
                        <td>
                            <input name="Students[0].LastName" type="text" class="name form-control" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div style="display: none;">
                <input name="RoomID" type="text" class="form-control" value="@roomID" />
                <input name="ClassID" type="text" class="form-control" value="@classID" />
                <input name="Time" type="text" class="form-control" value="@time" />
            </div>
            <button type="submit"class="btn btn-primary">Dodaj studente</button>
        }
    </div>
</div>